<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <label for="Input1" class="shadow-lg bg-secondary text-light text-center form-control">Find Matches By Team</label>
        <input
          type="email"
          class="form-control"
          id="Input1"
          placeholder="Team Name..."
          #team
        />
        <button class="btn btn-success mt-2" (click)="findByTeam(team.value)">
          Find
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="Input2" class="shadow-lg bg-secondary text-light text-center form-control">Find Matches By Leagues</label>
        <input
          type="email"
          class="form-control"
          id="Input2"
          placeholder="Leagues Name..."
          #league
        />
        <button class="btn btn-success mt-2" (click)="findByLeague(league.value)">
          Find
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="Input3" class="shadow-lg bg-secondary text-light text-center form-control">Find Matches By Date</label>
        <input type="date" class="form-control" id="Input3" #date/>
        <button class="btn btn-success mt-2" (click)="findByDate(date.value)">
          Find
        </button>
      </div>
    </div>
  </div>
</div>

<!--DIV FOR FIND BY-->
<app-partite [getall]="false"></app-partite>
