
<div class="container mt-4" *ngIf="partite.length!=0">
  <div class="alert alert-success" *ngIf="getall">Match di oggi</div>
  <table class="table">
    <thead class="table-success">
    <tr>
      <th scope="col">Titolo</th>
      <th scope="col">Competizione</th>
      <th scope="col">Data</th>
      <th scope="col" class="text-center">Guarda i video</th>
    </tr>
    </thead>
    <tbody class="bg-success text-light">
    <tr *ngFor="let partita of partite">
      <th scope="row">{{partita.title}}</th>
      <td>{{partita.competition}}</td>
      <td>{{partita.date | date: 'dd/MM/yyyy'}}</td>
      <td class="text-center"><button class="btn btn-outline-light" (click)="openVid(partita.title)">Video</button></td>
    </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" tabindex="-1" [class]="vidModal==true?'show':''" [style]="vidModal==true?'display:block':'display:none'">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Videos</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeVid()"></button>
      </div>
      <div class="modal-body" *ngIf="selectedMatch!=undefined">
        <div *ngFor="let video of selectedMatch.video">
          <h4>{{video.title}}</h4>
          <div class="mb-2" [innerHTML]="video.embed | sanitizeHtml"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
